<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto CAP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Proyecto CAP2</h1>
    <p>comida app personaje</p>
  </body>
</html>
